doctype html
html(lang='en')
 include head.pug
   title fwp dashboard
 body
    header 
        include headerAdmin.pug
    main
        section.
        h1 Dashboard
        h2 where the admin do stuff with projects
        section.dashboard.search-results
        //- section.createProjects
        //- section.editProjects
        //- section.deleteProjects

	        
    footer
    script(src="script.js")