doctype html
html(lang='en')
 include head.pug
   title fwp dashboard
 body
    header 
        include headerAdmin.pug
    main
        h1 fwp dashboard is where the admin do stuff with the projects
        section.showProjects
        section.createProjects
        section.editProjects
        section.deleteProjects

	        
    footer