doctype html
html(lang='en')
  include head.pug
    title fwp favorites
  body
    header
    main
        h2 This is your favourites section.
        section#favoritesguiding
          p You can take another look to study the offers more closely
          p or delete the offer if you no longer find it interesting.
          p Use the button inside the card to do so.
        section.search-results
        script(src="script.js")
    footer