section.top-nav
  div#logo
  p#logotitle Freelance Web Projects
  input#menu-toggle(type='checkbox')
  label.menu-button-container(for='menu-toggle')
    .menu-button
  ul.menu
    li.menu-item
      a.menu-link(href="/") Index
    li.menu-item
      a.menu-link(href="/profile") Profile
    li.menu-item
      a.menu-link(href="/favs") Favs
    li.menu-item
      a.menu-link(href="/logout") Logout