nav
          button.hamburger(type="button")
            ul.menu
              li.menu-item
                a(href="/") Index
              li.menu-item
                a(href="/favs") Favs
              li.menu-item
                a(href="/profile") Profile
              li.menu-item
                a(href="/logout") Logout


section.top-nav
  div
    | Logo Here
  input#menu-toggle(type='checkbox')
  label.menu-button-container(for='menu-toggle')
    .menu-button
  ul.menu
    li.menu-item
      a.menu-link(href="/") Index
    li.menu-item
      a.menu-link(href="/profile") Profile
    li.menu-item
      a.menu-link(href="/favs") Favs
    li.menu-item
      a.menu-link(href="/logout") Logout