nav
    button.hamburger(type="button")
        ul.menu
            li.menu-item
                a(href="/") Home
            li.menu-item
                a(href="/profile") Profile
            li.menu-item
                a(href="/users") Users
            li.menu-item
                a(href="/dashboard") Dashboard
            li.menu-item
                a(href="/logout") Logout