nav
          button.hamburger(type="button")
            ul.menu
              li.menu-item
                a(href="/") Index
              li.menu-item
                a(href="/favs") Favs
              li.menu-item
                a(href="/profile") Profile
              li.menu-item
                a(href="/logout") Logout
              