head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title 
    link(rel='stylesheet' href='../styles.css')
    link(rel='icon', type='image/svg', href='/assets/img/fwplogo.svg')
    script(src="https://apis.google.com/js/platform.js", async, defer)
    meta(name="google-signin-client_id", content="TU_CLIENT_ID_DE_GOOGLE")