doctype html
html(lang='en')
  include head.pug
    title fwp index
  body
    header
      include header.pug
    main
      h1 fwp home 
      section.search
        form(action="get")
          input(type='text', name='search', placeholder='Type your search')
          input(type='text', name='search', placeholder='Type your search')
      section.showSearchResults
    footer
    script(src="script.js")
