doctype html
html(lang='en')
 head
   title fwp home
 body
    header
      include header.pug
    main
        h1 fwp home 
        section.search
	        input#search(
    	      type='text'
    	      name='search'
    	      placeholder='Type a tag you wanna search'
        	)
        section.showSearchResults
    footer
