doctype html
html(lang='en')
  include head.pug
    title fwp index
  body
    header
      include header.pug
    main
      h3 We help you to find a project that suits you.
      h4 Click on the search button to get all the projects.
      section.search-form
        //- form(action='/api/projects/search', method='get')
        form#search-projects(action='/api/projects/search', method='get')
          input#keyword(type='text', name='keyword', placeholder='Get all projects')
          button(type='submit') Search
      section.search-results
    footer
    script(src="script.js")
