doctype html
html(lang='en')
 include head.pug
   title fwp profile
 body
    header
    main
        h2 Profile section
        section.profile_info
          p#profile-info-name #{userInfo.user_name}
          p#profile-info-email #{userInfo.email}
          p#profile-info-firstname #{userInfo.firstname}
          p#profile-info-surename #{userInfo.surename}
        p Click and fill bellow if you wanna change your info.
        button#editUserData Edit your profile
        section#formUserData
	        
    footer
    script(src="script.js")