doctype html
html(lang="en")
    include head.pug
        title fwp recover password
    body
        header
        main
            section(id="recover_password")
                h2 Recover your password
                h3 Write your email here
                form(id="recover_password_form")
                    div.form-group
                        input(type="email", id="email", name="email", placeholder="mail" required)
                    button#recoverPasswordSubmit(type="submit") Send request

            section(id="email_send_message")

        script(src="/script.js")

        footer