doctype html
html(lang="en")
    include head.pug
        title fwp reset password
    body
        header
        main
            h2 Reset your password
            h3 Write your new password here

            form(id="reset_password_form" )
                div.form-group
                    input(type="password", id="password", name="password", placeholder="new password" required)
                button#resetPasswordSubmit(type="submit") Accept password

        script(src="/script.js")

        footer