doctype html
html(lang="en")
    include head.pug
        title fwp signup
    body
        header
            include header.pug
        main
            h2 Sign up
            a.button.google(href='/auth/google')
                span.icon
                    img(src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg")
                span.text with Google

            h3 or with your mail
        
            div.form-group
                input(type="email", id="email", name="email", placeholder="mail" required)

            div.form-group
                input(type="password", id="password", name="password", placeholder="password" required)

            button#loginSubmit(type="submit") Submit

        script(src="script.js")

        footer