doctype html
html(lang='en')
 include head.pug
   title fwp users
 body
    header 
    main
        h2 fwp users
        h3 where the admin do stuff with users
        section.showUsers
        section.createUsers
        section.editUsers
        section.deleteUsers

	        
    footer