doctype html
html(lang='en')
 include head.pug
   title fwp users
 body
    header 
        include headerAdmin.pug
    main
        h1 fwp users
        h2 where the admin do stuff with users
        section.showUsers
        section.createUsers
        section.editUsers
        section.deleteUsers

	        
    footer