body{
	background-color: rgb(190, 200, 210);
}

main{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form-group{
	padding-bottom: 10px;
	width: 176px;
}

#loginSubmit{
	width: 176px;
}
.dashboard .project-card:hover {
	cursor: pointer;
}