@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Ysabeau+SC:wght@400;500;600;700&display=swap');

html, body {
	margin: 0;
  padding: 0;
	height: 100%;
  }

body{
	background-color: #e1effd;
	font: 13px/20px "Lucida Grande", Tahoma, Verdana, sans-serif;
}

h2 {
  margin-top: 3rem;
  text-align: center;
  color:#1e2635;
}

h3 {
  width: 90%;
  text-align: center;
  color:#3c4e6d;
}

button {
  /* background-color: #e1effd; */
  background-color: #ffffff;
  border: 1px solid black;
  border-radius: 3px;
  height: 2rem;
}

/*ELEMENTOS DEL HEADER*/
#logo {
  width: 50px;
  height: 50px;
  margin-left: 10px;
  background-image: url("assets/img/fwplogo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#logotitle {
  font-size: 2rem;
  font-weight: bold;
}

/*hamburger menu*/
.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(40, 50, 70);
  background: linear-gradient(to left, rgb(40, 50, 70), rgb(190, 200, 210));
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #FFF;
  height: 50px;
  padding: 1em;
}

#logotitle a, #logotitle a:visited, #logotitle a:active {
  text-decoration: none;
  color: white;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 700px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #222;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}

.menu-link:link {
	color: white;
	text-decoration: none;
}
  
.menu-link:visited {
	color: white;
	text-decoration: none;
}

/*ELEMENTOS DEL MAIN*/

main{
	display: flex;
	flex-direction: column;
	align-items: center;
  box-sizing: border-box;
}

.search-form {
  width: 100%;
  display: flex;
  justify-content: center;
}

#search-projects {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#search-projects input {
  padding: 1px;
  height: 2rem;
  width: 60%;
}

#search-projects button {
  padding: 1px;
  height: 2rem;
  width: 40%;
}


/*ELEMENTOS DEL INDEX*/

.form-group {
	padding-bottom: 10px;
	width: 176px;
}

.search-results {
  width: 100%;
  box-sizing: border-box;
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#skill-links-article-1 {
  display: flex;
  justify-content: space-between;
	align-items: center;
  width: 80%;
  margin-bottom: 20px;
}

#skill-links-article-1 *{
  color: rgb(40, 50, 70);
  text-decoration: none;
  }

#skill-links-article-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    margin-bottom: 20px;
  }
  
#skill-links-article-2 *{
    color: rgb(40, 50, 70);
    text-decoration: none;
    }

.project-card{
  box-sizing: border-box;
	background-color: #ffffff;
  border-radius: 5px;
	width: 80%;
  padding: 20px;
  margin-bottom: 20px;
  /* border: 2px solid #283246; */
  box-shadow: 0 3px 3px rgba(0,0,0,0.2);
}

.project-skills {
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: space-around;
  flex-wrap: wrap;
	gap: 1rem;
}

.skill-paragraph {
  color: #1a84ee;
  font-weight: 600;
}

.skill-paragraph:hover {
  cursor: pointer;
}

#loginSubmit{
	width: 176px;
}

.project-title h2 {
  text-align: left;
}

.project-title a {
  
	color: rgb(40, 50, 70);
	text-decoration: none;
  font-weight: 600;

  }

.project-budget p {
	font-weight: bold;
}

/*ELEMENTOS DEL LOGIN Y EL SIGNUP*/
/*boton de google*/
.button {
	display: inline-block;
	padding: 0.5em 1em;
	border-radius: 0.25em;
	text-decoration: none;
	font-weight: bold;
	color: rgb(40, 50, 70);
	margin-bottom: 30px;
  }
  
  .google {
	background-color: rgb(255, 255, 255);
	border-radius: 5px;
	width: 150px;
    border: 1px solid rgb(40, 50, 70);
  }
  
  .google .icon {
	display: inline-block;
	vertical-align: middle;
  }
  
  .google .icon img {
	height: 1em;
  }
  
  .google .text {
	display: inline-block;
	vertical-align: middle;
	margin-left: 0.5em;
  }

/*ELEMENTOS DEL DASHBOARD*/

#buttons-admin {
  box-sizing: border-box;
  width: 50%;
  display: flex;
  justify-content: space-between;
}


#create-project {
	margin-bottom: 30px;	
}

#create-project-form{
  display: flex;
	flex-direction: column;
	align-items: center;

}

#create-project-form * {
  margin: 10px 0 0;
  width: 200px;
}

/*ELEMENTOS DE PROFILE*/
body#favs .project-skills {
  pointer-events: none;
  display: none;
}

body#favs .skill-paragraph {
  pointer-events: none;
  display: none;
}

#favoritesguiding p {
  line-height: 10px;
  margin-bottom: 10px;
}
.profile_info{
  background-color: #f2f2f2;
  border-radius: 5px;
	width: 80%;
  padding: 20px;
  margin-bottom: 20px;
  border: 2px solid rgb(40, 50, 70);
}

#editUserData {
  width: 200px;
}

#editUserDataForm {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#editUserDataForm * {
	margin-top: 10px;
}


@media screen and (max-width: 510px) {
  body {
    width: 100vw;
  }

  main{
    width: 100%;
  }

  #logotitle {
    font-size: 1.2rem;
    text-align: center;
  }

  #search-projects {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  #buttons-admin {
    width: 80%;
    display: flex;
    justify-content: space-between;
  }

  .project-card {
    width: 100%;
  }

  .project-description{
    flex-wrap: wrap;
  }
}